In [1]:
import pandas as pd
import numpy as np
import re
import sklearn
import seaborn as sns
import matplotlib.pyplot as plt

train = pd.read_csv("cs-training.csv")

In [2]:
train.shape

(150000, 12)

In [3]:
train.describe()

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
count,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,1.202690e+05,150000.000000,150000.000000,150000.000000,150000.000000,146076.000000
mean,75000.500000,0.066840,6.048438,52.295207,0.421033,353.005076,6.670221e+03,8.452760,0.265973,1.018240,0.240387,0.757222
std,43301.414527,0.249746,249.755371,14.771866,4.192781,2037.818523,1.438467e+04,5.145951,4.169304,1.129771,4.155179,1.115086
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,37500.750000,0.000000,0.029867,41.000000,0.000000,0.175074,3.400000e+03,5.000000,0.000000,0.000000,0.000000,0.000000
50%,75000.500000,0.000000,0.154181,52.000000,0.000000,0.366508,5.400000e+03,8.000000,0.000000,1.000000,0.000000,0.000000
75%,112500.250000,0.000000,0.559046,63.000000,0.000000,0.868254,8.249000e+03,11.000000,0.000000,2.000000,0.000000,1.000000
max,150000.000000,1.000000,50708.000000,109.000000,98.000000,329664.000000,3.008750e+06,58.000000,98.000000,54.000000,98.000000,20.000000

In [4]:
train.tail()

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
149995,149996,0,0.040674,74,0,0.225131,2100.0,4,0,1,0,0.0
149996,149997,0,0.299745,44,0,0.716562,5584.0,4,0,1,0,2.0
149997,149998,0,0.246044,58,0,3870.000000,NaN,18,0,1,0,0.0
149998,149999,0,0.000000,30,0,0.000000,5716.0,4,0,0,0,0.0
149999,150000,0,0.850283,64,0,0.249908,8158.0,8,0,2,0,0.0

In [5]:
# train['MonthlyIncome'].fillna(train['MonthlyIncome'].median(), inplace=True)
# train.info()

In [6]:
# train['NumberOfDependents'].fillna(train['NumberOfDependents'].median(), inplace=True)
# train.info()

In [7]:
from collections import Counter
def detect_outliers(df,n,features):
    outlier_indices = []
    
    # iterate over features(columns)
    for col in features:
        # 1st quartile (25%)
        Q1 = np.percentile(df[col], 25)
        # 3rd quartile (75%)
        Q3 = np.percentile(df[col],75)
        # Interquartile range (IQR)
        IQR = Q3 - Q1
        
        # outlier step
        outlier_step = 1.5 * IQR
        
        # Determine a list of indices of outliers for feature col
        outlier_list_col = df[(df[col] < Q1 - outlier_step) | (df[col] > Q3 + outlier_step )].index
        
        # append the found outlier indices for col to the list of outlier indices 
        outlier_indices.extend(outlier_list_col)
        
    # select observations containing more than 2 outliers
    outlier_indices = Counter(outlier_indices)        
    multiple_outliers = list( k for k, v in outlier_indices.items() if v > n )
    
    return multiple_outliers

# detect outliers from Age, SibSp , Parch and Fare
# These are the numerical features present in the dataset
Outliers_to_drop = detect_outliers(train,2,["RevolvingUtilizationOfUnsecuredLines",
                                            "age",
                                            "NumberOfTime30-59DaysPastDueNotWorse",
                                            "DebtRatio",
                                            "MonthlyIncome",
                                            "NumberOfOpenCreditLinesAndLoans",
                                            "NumberOfTimes90DaysLate",
                                            "NumberRealEstateLoansOrLines",
                                            "NumberOfTime60-89DaysPastDueNotWorse",
                                            "Unnamed: 0",
                                            "NumberOfDependents"])

In [8]:
train.loc[Outliers_to_drop]

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
900,901,0,2.258964,33,2,0.032484,2000.0,1,1,0,0,2.0
919,920,1,1.362142,73,1,274.000000,NaN,2,3,0,1,NaN
1958,1959,0,1.634551,28,0,151.000000,NaN,1,3,0,2,0.0
4852,4853,0,1.566866,46,2,0.104983,6000.0,3,2,0,0,0.0
5956,5957,0,2.237856,60,6,2597.000000,1.0,16,1,2,1,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...
117338,117339,1,0.960692,42,0,1.241580,3770.0,29,1,2,1,3.0
126682,126683,1,0.344297,38,0,1.789158,4500.0,23,14,11,1,0.0
129570,129571,0,0.075067,58,0,0.298925,17388.0,24,0,6,1,0.0
5833,5834,1,0.917527,44,0,1.852144,3800.0,13,1,7,1,1.0
142226,142227,1,0.859714,55,0,0.599348,11046.0,18,7,6,6,1.0

In [9]:
train = train.drop(Outliers_to_drop, axis = 0).reset_index(drop=True)

In [10]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146473 entries, 0 to 146472
Data columns (total 12 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   Unnamed: 0                            146473 non-null  int64
 1   SeriousDlqin2yrs                      146473 non-null  int64
 2   RevolvingUtilizationOfUnsecuredLines  146473 non-null  float64
 3   age                                   146473 non-null  int64
 4   NumberOfTime30-59DaysPastDueNotWorse  146473 non-null  int64
 5   DebtRatio                             146473 non-null  float64
 6   MonthlyIncome                         118224 non-null  float64
 7   NumberOfOpenCreditLinesAndLoans       146473 non-null  int64
 8   NumberOfTimes90DaysLate               146473 non-null  int64
 9   NumberRealEstateLoansOrLines          146473 non-null  int64
 10  NumberOfTime60-89DaysPastDueNotWorse  146473 non-null  int64
 11  NumberOfDependents                    142707 non-null  float64
dtypes: float64(4), int64(8)
memory usage: 13.4 MB

In [11]:
def getIVandWOE(filter,bins):
    
    good = train.loc[train['SeriousDlqin2yrs'] == 0].groupby(filter).agg({'SeriousDlqin2yrs': ['count']}).apply(list)
    good_list = good.to_numpy()

    countGood = []
    sumGood = 0

    for i in range (0,len(good_list)):
        countGood.append(good_list[i][0])
        sumGood += good_list[i]

    #print(countGood)
    # print(sumGood)

    #################################################################################################################

    bad = train.loc[train['SeriousDlqin2yrs'] == 1].groupby(filter).agg({'SeriousDlqin2yrs': ['count']}).apply(list)
    bad_list = bad.to_numpy()

    countBad = []
    sumBad = 0;

    for i in range (0,len(good_list)):
        countBad.append(bad_list[i][0])
        sumBad += bad_list[i]

    #print(countBad)
    # print(sumBad)

    total=[]
    badRate=[]
    badPercentage=[]
    goodPercentage = []
    quotient =[]
    diff=[]
    woe=[]

    for i in range(0,len(good_list)):
        total.append(countGood[i]+countBad[i])
        badRate.append(countBad[i]/total[i])
        badPercentage.append(countBad[i]/sumBad)
        goodPercentage.append(countGood[i]/sumGood)
        
        if(badPercentage[i] == 0):
            quotient.append(0)
        else:    
            quotient.append(goodPercentage[i]/badPercentage[i])
        
        diff.append(goodPercentage[i]-badPercentage[i])
        
        if(quotient[i]==0):
            woe.append(0)
        else:
            woe.append((np.log(quotient[i]))*100)

    # bad = train.loc[train['SeriousDlqin2yrs'] == 1].groupby('age_bin').agg({'SeriousDlqin2yrs': ['count']})
    # print(bad)

    # count_bin_age = train.groupby('age_bin').agg({'SeriousDlqin2yrs': ['count']})
    # print(count_bin_age)

    iv = 0;

    for i in range(0,len(good_list)-1):
        if(diff[i]!=0 and quotient[i]!=0):
            iv += (diff[i]*(np.log(quotient[i])))

    print("IV: ",iv)

    data = pd.DataFrame()
    data.insert(0,filter,bins)
    data.insert(1,'good',countGood)
    data.insert(2,'bad',countBad)
    data.insert(3,'total_count',total)
    data.insert(4,'dist_bad',badPercentage)
    data.insert(5,'dist_good',goodPercentage)
    data.insert(6,'bad_rate',badRate)
    data.insert(7,'quotient',quotient)
    data.insert(8,'difference',diff)
    data.insert(9,'WoE',woe)
    display(data)
    return iv

In [12]:
print("Max age: ", train['age'].max())
print("Min age: ", train['age'].min())

bins_age = [0,10,20,30,40,50,60,70,80,90,100,110]
train['age_bin'] = pd.cut(train['age'], bins = [0,10,20,30,40,50,60,70,80,90,100,110])
binning = []
bin_str = ""
for i in range(0,len(bins_age)-1):
    bin_str = "("+str(bins_age[i])+", "+str(bins_age[i+1])+"]"
    binning.append(bin_str)
    
print(binning)
print(len(binning))
train.head()

Max age:  109
Min age:  0
['(0, 10]', '(10, 20]', '(20, 30]', '(30, 40]', '(40, 50]', '(50, 60]', '(60, 70]', '(70, 80]', '(80, 90]', '(90, 100]', '(100, 110]']
11

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,age_bin
0,1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0,"(40, 50]"
1,2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0,"(30, 40]"
2,3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0,"(30, 40]"
3,4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0,"(20, 30]"
4,5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0,"(40, 50]"

In [13]:
age_iv = getIVandWOE('age_bin',binning)
print(age_iv)

IV:  [0.24585232]

c:\users\enzo\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:41: RuntimeWarning: invalid value encountered in longlong_scalars

,age_bin,good,bad,total_count,dist_bad,dist_good,bad_rate,quotient,difference,WoE
0,"(0, 10]",0,0,0,[0.0],[0.0],NaN,0,[0.0],0
1,"(10, 20]",0,0,0,[0.0],[0.0],NaN,0,[0.0],0
2,"(20, 30]",9312,1048,10360,[0.12631071471616248],[0.06739279898679211],0.101158,[0.5335477606807386],[-0.05891791572937037],[-62.8206688946947]
3,"(30, 40]",21630,1988,23618,[0.23960467638905628],[0.15654061878053194],0.084173,[0.653328729387361],[-0.08306405760852434],[-42.56748623065932]
4,"(40, 50]",31690,2382,34072,[0.2870917198987586],[0.2293468427718473],0.069911,[0.7988626173291423],[-0.05774487712691129],[-22.45662912674574]
5,"(50, 60]",32203,1752,33955,[0.21116066047969145],[0.23305952596345214],0.051598,[1.1037071272367365],[0.021898865483760688],[9.8674629361007]
6,"(60, 70]",26201,785,26986,[0.09461251054598048],[0.1896218563415958],0.029089,[2.0041943211034656],[0.09500934579561533],[69.52421451401555]
7,"(70, 80]",12330,259,12589,[0.031216102205616488],[0.08923466618418673],0.020574,[2.858610136410028],[0.058018563978570234],[105.03355404216738]
8,"(80, 90]",4335,76,4411,[0.009159937326744607],[0.03137325854894156],0.017230,[3.425051660270633],[0.022213321222196953],[123.11165548911328]
9,"(90, 100]",462,6,468,[0.0007231529468482585],[0.0033435860322055364],0.012821,[4.623622218201556],[0.002620433085357278],[153.11784278165052]
10,"(100, 110]",12,1,13,[0.0001205254911413764],[8.684639044689705e-05],0.076923,[0.7205645015379049],[-3.367910069447935e-05],[-32.772034424917805]

[0.24585232]

In [14]:
print("Max income: ", train['MonthlyIncome'].max())
print("Min income: ", train['MonthlyIncome'].min())
print("Median income: ", train['MonthlyIncome'].median())

train['income_bin'] = pd.cut(train['MonthlyIncome'], bins = [0,100000,200000,300000,400000,500000,600000,700000,800000,900000,1000000,2000000,3000000])
# train.head()

bins_income = [0,100000,200000,300000,400000,500000,600000,700000,800000,900000,1000000,2000000,3000000]
binning = []
bin_str = ""
for i in range(0,len(bins_income)-1):
    bin_str = "("+str(bins_income[i])+", "+str(bins_income[i+1])+"]"
    binning.append(bin_str)
    
print(binning)
print(len(binning))
train.head()

Max income:  3008750.0
Min income:  0.0
Median income:  5416.0
['(0, 100000]', '(100000, 200000]', '(200000, 300000]', '(300000, 400000]', '(400000, 500000]', '(500000, 600000]', '(600000, 700000]', '(700000, 800000]', '(800000, 900000]', '(900000, 1000000]', '(1000000, 2000000]', '(2000000, 3000000]']
12

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,age_bin,income_bin
0,1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0,"(40, 50]","(0, 100000]"
1,2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0,"(30, 40]","(0, 100000]"
2,3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0,"(30, 40]","(0, 100000]"
3,4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0,"(20, 30]","(0, 100000]"
4,5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0,"(40, 50]","(0, 100000]"

In [15]:
income_iv = getIVandWOE('income_bin',binning)
print(income_iv)

IV:  [0.00021192]

c:\users\enzo\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:41: RuntimeWarning: invalid value encountered in longlong_scalars

,income_bin,good,bad,total_count,dist_bad,dist_good,bad_rate,quotient,difference,WoE
0,"(0, 100000]",109358,7228,116586,[0.9997233748271093],[0.9994151084790993],0.061997,[0.9996916483541627],[-0.00030826634800995567],[-0.03083991959810858]
1,"(100000, 200000]",38,1,39,[0.00013831258644536652],[0.0003472793405348102],0.025641,[2.510829632066678],[0.00020896675408944366],[92.0613229234309]
2,"(200000, 300000]",10,1,11,[0.00013831258644536652],[9.138930014073952e-05],0.090909,[0.6607446400175467],[-4.6923286304627004e-05],[-41.438783749803115]
3,"(300000, 400000]",2,0,2,[0.0],[1.8277860028147905e-05],0.000000,0,[1.8277860028147905e-05],0
4,"(400000, 500000]",3,0,3,[0.0],[2.7416790042221856e-05],0.000000,0,[2.7416790042221856e-05],0
5,"(500000, 600000]",2,0,2,[0.0],[1.8277860028147905e-05],0.000000,0,[1.8277860028147905e-05],0
6,"(600000, 700000]",3,0,3,[0.0],[2.7416790042221856e-05],0.000000,0,[2.7416790042221856e-05],0
7,"(700000, 800000]",2,0,2,[0.0],[1.8277860028147905e-05],0.000000,0,[1.8277860028147905e-05],0
8,"(800000, 900000]",1,0,1,[0.0],[9.138930014073952e-06],0.000000,0,[9.138930014073952e-06],0
9,"(900000, 1000000]",0,0,0,[0.0],[0.0],NaN,0,[0.0],0
10,"(1000000, 2000000]",3,0,3,[0.0],[2.7416790042221856e-05],0.000000,0,[2.7416790042221856e-05],0
11,"(2000000, 3000000]",0,0,0,[0.0],[0.0],NaN,0,[0.0],0

[0.00021192]

In [16]:
print("Max Debt Ratio: ", train['DebtRatio'].max())
print("Min Debt Ratio: ", train['DebtRatio'].min())

train['debt_bin'] = pd.cut(train['DebtRatio'], bins = [0,20000,40000,60000,80000,100000,120000,140000,160000,180000,200000,220000,240000,260000,280000,300000])

bins_debt = [0,20000,40000,60000,80000,100000,120000,140000,160000,180000,200000,220000,240000,260000,280000,300000]
binning = []
bin_str = ""
for i in range(0,len(bins_debt)-1):
    bin_str = "("+str(bins_debt[i])+", "+str(bins_debt[i+1])+"]"
    binning.append(bin_str)
    
print(binning)
print(len(binning))
train.head()

Max Debt Ratio:  329664.0
Min Debt Ratio:  0.0
['(0, 20000]', '(20000, 40000]', '(40000, 60000]', '(60000, 80000]', '(80000, 100000]', '(100000, 120000]', '(120000, 140000]', '(140000, 160000]', '(160000, 180000]', '(180000, 200000]', '(200000, 220000]', '(220000, 240000]', '(240000, 260000]', '(260000, 280000]', '(280000, 300000]']
15

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,age_bin,income_bin,debt_bin
0,1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0,"(40, 50]","(0, 100000]","(0, 20000]"
1,2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0,"(30, 40]","(0, 100000]","(0, 20000]"
2,3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0,"(30, 40]","(0, 100000]","(0, 20000]"
3,4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0,"(20, 30]","(0, 100000]","(0, 20000]"
4,5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0,"(40, 50]","(0, 100000]","(0, 20000]"

In [17]:
debt_iv = getIVandWOE('debt_bin',binning)
print(debt_iv)

IV:  [2.23077837e-07]

c:\users\enzo\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:41: RuntimeWarning: invalid value encountered in longlong_scalars

,debt_bin,good,bad,total_count,dist_bad,dist_good,bad_rate,quotient,difference,WoE
0,"(0, 20000]",134486,8059,142545,[0.9998759305210918],[0.9997918432282141],0.056537,[0.9999159022731612],[-8.408729287767702e-05],[-0.008410126325091716]
1,"(20000, 40000]",16,1,17,[0.00012406947890818859],[0.00011894672673476367],0.058824,[0.9587106174821952],[-5.122752173424914e-06],[-4.2166004085999536]
2,"(40000, 60000]",4,0,4,[0.0],[2.9736681683690918e-05],0.000000,0,[2.9736681683690918e-05],0
3,"(60000, 80000]",3,0,3,[0.0],[2.230251126276819e-05],0.000000,0,[2.230251126276819e-05],0
4,"(80000, 100000]",0,0,0,[0.0],[0.0],NaN,0,[0.0],0
5,"(100000, 120000]",3,0,3,[0.0],[2.230251126276819e-05],0.000000,0,[2.230251126276819e-05],0
6,"(120000, 140000]",0,0,0,[0.0],[0.0],NaN,0,[0.0],0
7,"(140000, 160000]",0,0,0,[0.0],[0.0],NaN,0,[0.0],0
8,"(160000, 180000]",1,0,1,[0.0],[7.4341704209227295e-06],0.000000,0,[7.4341704209227295e-06],0
9,"(180000, 200000]",0,0,0,[0.0],[0.0],NaN,0,[0.0],0
10,"(200000, 220000]",0,0,0,[0.0],[0.0],NaN,0,[0.0],0
11,"(220000, 240000]",1,0,1,[0.0],[7.4341704209227295e-06],0.000000,0,[7.4341704209227295e-06],0
12,"(240000, 260000]",0,0,0,[0.0],[0.0],NaN,0,[0.0],0
13,"(260000, 280000]",0,0,0,[0.0],[0.0],NaN,0,[0.0],0
14,"(280000, 300000]",0,0,0,[0.0],[0.0],NaN,0,[0.0],0

[2.23077837e-07]

In [18]:
print("Max Unsecured Lines: ", train['RevolvingUtilizationOfUnsecuredLines'].max())
print("Min Unsecured Lines: ", train['RevolvingUtilizationOfUnsecuredLines'].min())

train['unsecured_bin'] = pd.cut(train['RevolvingUtilizationOfUnsecuredLines'], bins = [0,10000,20000,30000,40000,50000])

bins_unsecured = [0,10000,20000,30000,40000,50000]
binning = []
bin_str = ""
for i in range(0,len(bins_unsecured)-1):
    bin_str = "("+str(bins_unsecured[i])+", "+str(bins_unsecured[i+1])+"]"
    binning.append(bin_str)
    
print(binning)
print(len(binning))
train.head()

Max Unsecured Lines:  50708.0
Min Unsecured Lines:  0.0
['(0, 10000]', '(10000, 20000]', '(20000, 30000]', '(30000, 40000]', '(40000, 50000]']
5

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,age_bin,income_bin,debt_bin,unsecured_bin
0,1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0,"(40, 50]","(0, 100000]","(0, 20000]","(0, 10000]"
1,2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0,"(30, 40]","(0, 100000]","(0, 20000]","(0, 10000]"
2,3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0,"(30, 40]","(0, 100000]","(0, 20000]","(0, 10000]"
3,4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0,"(20, 30]","(0, 100000]","(0, 20000]","(0, 10000]"
4,5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0,"(40, 50]","(0, 100000]","(0, 20000]","(0, 10000]"

In [19]:
unsecured_iv = getIVandWOE('unsecured_bin',binning)
print(unsecured_iv)

c:\users\enzo\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:41: RuntimeWarning: invalid value encountered in longlong_scalars

IV:  [1.2023401e-08]

,unsecured_bin,good,bad,total_count,dist_bad,dist_good,bad_rate,quotient,difference,WoE
0,"(0, 10000]",127667,8017,135684,[1.0],[0.999890351735967],0.059086,[0.999890351735967],[-0.0001096482640330354],[-0.010965427584339852]
1,"(10000, 20000]",10,0,10,[0.0],[7.832018859501414e-05],0.000000,0,[7.832018859501414e-05],0
2,"(20000, 30000]",4,0,4,[0.0],[3.132807543800566e-05],0.000000,0,[3.132807543800566e-05],0
3,"(30000, 40000]",0,0,0,[0.0],[0.0],NaN,0,[0.0],0
4,"(40000, 50000]",0,0,0,[0.0],[0.0],NaN,0,[0.0],0

[1.2023401e-08]

In [20]:
print("Max # of times 30-59 Days Past Due: ", train['NumberOfTime30-59DaysPastDueNotWorse'].max())
print("Min # of times 30-59 Days Past Due: ", train['NumberOfTime30-59DaysPastDueNotWorse'].min())

train['30to59_days_due_bin'] = pd.cut(train['NumberOfTime30-59DaysPastDueNotWorse'], bins = [0,2,4,6,8,10,12,14])

bins_late_3059 = [0,2,4,6,8,10,12,14]
binning = []
bin_str = ""
for i in range(0,len(bins_late_3059)-1):
    bin_str = "("+str(bins_late_3059[i])+", "+str(bins_late_3059[i+1])+"]"
    binning.append(bin_str)
    
print(binning)
print(len(binning))
train.head()

Max # of times 30-59 Days Past Due:  13
Min # of times 30-59 Days Past Due:  0
['(0, 2]', '(2, 4]', '(4, 6]', '(6, 8]', '(8, 10]', '(10, 12]', '(12, 14]']
7

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,age_bin,income_bin,debt_bin,unsecured_bin,30to59_days_due_bin
0,1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0,"(40, 50]","(0, 100000]","(0, 20000]","(0, 10000]","(0.0, 2.0]"
1,2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0,"(30, 40]","(0, 100000]","(0, 20000]","(0, 10000]",NaN
2,3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0,"(30, 40]","(0, 100000]","(0, 20000]","(0, 10000]","(0.0, 2.0]"
3,4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0,"(20, 30]","(0, 100000]","(0, 20000]","(0, 10000]",NaN
4,5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0,"(40, 50]","(0, 100000]","(0, 20000]","(0, 10000]","(0.0, 2.0]"

In [21]:
num30to59_days_due_iv = getIVandWOE('30to59_days_due_bin',binning)
print(num30to59_days_due_iv)

IV:  [0.14936435]

,30to59_days_due_bin,good,bad,total_count,dist_bad,dist_good,bad_rate,quotient,difference,WoE
0,"(0, 2]",15826,2624,18450,[0.7765611127552531],[0.9113209720142808],0.142222,[1.1735341327882067],[0.13475985925902767],[16.00198221988584]
1,"(2, 4]",1313,600,1913,[0.17756732761171945],[0.07560750892548658],0.313643,[0.42579628776536527],[-0.10195981868623287],[-85.37942448196507]
2,"(4, 6]",193,134,327,[0.03965670316661734],[0.011113670390418058],0.409786,[0.2802469570837509],[-0.02854303277619928],[-127.20840749523263]
3,"(6, 8]",29,17,46,[0.005031074282332051],[0.0016699297477830242],0.369565,[0.33192309516228463],[-0.0033611445345490265],[-110.28519779760427]
4,"(8, 10]",4,2,6,[0.0005918910920390648],[0.00023033513762524472],0.333333,[0.38915121501785094],[-0.0003615559544138201],[-94.37872833463553]
5,"(10, 12]",1,1,2,[0.0002959455460195324],[5.758378440631118e-05],0.500000,[0.19457560750892547],[-0.00023836176161322125],[-163.69344639063007]
6,"(12, 14]",0,1,1,[0.0002959455460195324],[0.0],1.000000,[0.0],[-0.0002959455460195324],0

[0.14936435]

In [22]:
print("Max # of open credit lines: ", train['NumberOfOpenCreditLinesAndLoans'].max())
print("Min # of open credit lines: ", train['NumberOfOpenCreditLinesAndLoans'].min())

train['num_open_credit'] = pd.cut(train['NumberOfOpenCreditLinesAndLoans'], bins = [0,10,20,30,40,50,60])

bins_open_lines = [0,10,20,30,40,50,60]
binning = []
bin_str = ""
for i in range(0,len(bins_open_lines)-1):
    bin_str = "("+str(bins_open_lines[i])+", "+str(bins_open_lines[i+1])+"]"
    binning.append(bin_str)
    
print(binning)
print(len(binning))
train.head()

Max # of open credit lines:  57
Min # of open credit lines:  0
['(0, 10]', '(10, 20]', '(20, 30]', '(30, 40]', '(40, 50]', '(50, 60]']
6

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,age_bin,income_bin,debt_bin,unsecured_bin,30to59_days_due_bin,num_open_credit
0,1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0,"(40, 50]","(0, 100000]","(0, 20000]","(0, 10000]","(0.0, 2.0]","(10, 20]"
1,2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0,"(30, 40]","(0, 100000]","(0, 20000]","(0, 10000]",NaN,"(0, 10]"
2,3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0,"(30, 40]","(0, 100000]","(0, 20000]","(0, 10000]","(0.0, 2.0]","(0, 10]"
3,4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0,"(20, 30]","(0, 100000]","(0, 20000]","(0, 10000]",NaN,"(0, 10]"
4,5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0,"(40, 50]","(0, 100000]","(0, 20000]","(0, 10000]","(0.0, 2.0]","(0, 10]"

In [23]:
num_open_credit_iv = getIVandWOE('num_open_credit',binning)
print(num_open_credit_iv)

IV:  [0.00149013]

,num_open_credit,good,bad,total_count,dist_bad,dist_good,bad_rate,quotient,difference,WoE
0,"(0, 10]",97210,5552,102762,[0.6966122961104141],[0.7100077420862732],0.054028,[1.0192294136216853],[0.013395445975859066],[1.9046864938255927]
1,"(10, 20]",36280,2222,38502,[0.27879548306148055],[0.264983858480506],0.057711,[0.9504596544057753],[-0.013811624580974569],[-5.080956466072077]
2,"(20, 30]",3122,175,3297,[0.021957340025094103],[0.022802635230874856],0.053079,[1.0384971588004148],[0.0008452952057807529],[3.7774628461645006]
3,"(30, 40]",253,13,266,[0.001631116687578419],[0.0018478753085878726],0.048872,[1.1328897084188727],[0.00021675862100945355],[12.477163257576523]
4,"(40, 50]",38,6,44,[0.000752823086574655],[0.0002775464890369137],0.136364,[0.368674252937367],[-0.0004752765975377413],[-99.78418081918875]
5,"(50, 60]",11,2,13,[0.0002509410288582183],[8.034240472121185e-05],0.153846,[0.32016448281402926],[-0.00017059862413700645],[-113.8920406451793]

[0.00149013]

In [24]:
print("Max # times 90 days late: ", train['NumberOfTimes90DaysLate'].max())
print("Min # times 90 days late: ", train['NumberOfTimes90DaysLate'].min())

train['num_90days_late'] = pd.cut(train['NumberOfTimes90DaysLate'], bins = [0,5,10,15,20])

bins_90days_late = [0,5,10,15,20]
binning = []
bin_str = ""
for i in range(0,len(bins_90days_late)-1):
    bin_str = "("+str(bins_90days_late[i])+", "+str(bins_90days_late[i+1])+"]"
    binning.append(bin_str)
    
print(binning)
print(len(binning))
train.head()

Max # times 90 days late:  17
Min # times 90 days late:  0
['(0, 5]', '(5, 10]', '(10, 15]', '(15, 20]']
4

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,age_bin,income_bin,debt_bin,unsecured_bin,30to59_days_due_bin,num_open_credit,num_90days_late
0,1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0,"(40, 50]","(0, 100000]","(0, 20000]","(0, 10000]","(0.0, 2.0]","(10, 20]",NaN
1,2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0,"(30, 40]","(0, 100000]","(0, 20000]","(0, 10000]",NaN,"(0, 10]",NaN
2,3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0,"(30, 40]","(0, 100000]","(0, 20000]","(0, 10000]","(0.0, 2.0]","(0, 10]","(0.0, 5.0]"
3,4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0,"(20, 30]","(0, 100000]","(0, 20000]","(0, 10000]",NaN,"(0, 10]",NaN
4,5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0,"(40, 50]","(0, 100000]","(0, 20000]","(0, 10000]","(0.0, 2.0]","(0, 10]",NaN

In [25]:
num_90days_late_iv= getIVandWOE('num_90days_late',binning)
print(num_90days_late_iv)

IV:  [0.02290818]

,num_90days_late,good,bad,total_count,dist_bad,dist_good,bad_rate,quotient,difference,WoE
0,"(0, 5]",3603,1938,5541,[0.9724034119417962],[0.990924092409241],0.349756,[1.019046293174209],[0.018520680467444706],[1.8867183212806924]
1,"(5, 10]",28,52,80,[0.02609131961866533],[0.007700770077007701],0.650000,[0.29514682237454515],[-0.018390549541657628],[-122.02823434907981]
2,"(10, 15]",5,2,7,[0.0010035122930255895],[0.0013751375137513752],0.285714,[1.3703245324532456],[0.00037162522072578573],[31.504759678958056]
3,"(15, 20]",0,1,1,[0.0005017561465127947],[0.0],1.000000,[0.0],[-0.0005017561465127947],0

[0.02290818]

In [26]:
print("Max # real estate loans: ", train['NumberRealEstateLoansOrLines'].max())
print("Min # real estate loans: ", train['NumberRealEstateLoansOrLines'].min())

train['num_real_estate_loans'] = pd.cut(train['NumberOfTimes90DaysLate'], bins = [0,5,10,15,20,25,30,35])

bins_num_real_estate_loans = [0,5,10,15,20,25,30,35]
binning = []
bin_str = ""
for i in range(0,len(bins_num_real_estate_loans)-1):
    bin_str = "("+str(bins_num_real_estate_loans[i])+", "+str(bins_num_real_estate_loans[i+1])+"]"
    binning.append(bin_str)
    
print(binning)
print(len(binning))
train.head()

Max # real estate loans:  32
Min # real estate loans:  0
['(0, 5]', '(5, 10]', '(10, 15]', '(15, 20]', '(20, 25]', '(25, 30]', '(30, 35]']
7

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,age_bin,income_bin,debt_bin,unsecured_bin,30to59_days_due_bin,num_open_credit,num_90days_late,num_real_estate_loans
0,1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0,"(40, 50]","(0, 100000]","(0, 20000]","(0, 10000]","(0.0, 2.0]","(10, 20]",NaN,NaN
1,2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0,"(30, 40]","(0, 100000]","(0, 20000]","(0, 10000]",NaN,"(0, 10]",NaN,NaN
2,3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0,"(30, 40]","(0, 100000]","(0, 20000]","(0, 10000]","(0.0, 2.0]","(0, 10]","(0.0, 5.0]","(0.0, 5.0]"
3,4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0,"(20, 30]","(0, 100000]","(0, 20000]","(0, 10000]",NaN,"(0, 10]",NaN,NaN
4,5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0,"(40, 50]","(0, 100000]","(0, 20000]","(0, 10000]","(0.0, 2.0]","(0, 10]",NaN,NaN

In [27]:
num_real_estate_loans_iv= getIVandWOE('num_real_estate_loans',binning)
print(num_real_estate_loans_iv)

IV:  [0.02290818]

c:\users\enzo\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:41: RuntimeWarning: invalid value encountered in longlong_scalars

,num_real_estate_loans,good,bad,total_count,dist_bad,dist_good,bad_rate,quotient,difference,WoE
0,"(0, 5]",3603,1938,5541,[0.9724034119417962],[0.990924092409241],0.349756,[1.019046293174209],[0.018520680467444706],[1.8867183212806924]
1,"(5, 10]",28,52,80,[0.02609131961866533],[0.007700770077007701],0.650000,[0.29514682237454515],[-0.018390549541657628],[-122.02823434907981]
2,"(10, 15]",5,2,7,[0.0010035122930255895],[0.0013751375137513752],0.285714,[1.3703245324532456],[0.00037162522072578573],[31.504759678958056]
3,"(15, 20]",0,1,1,[0.0005017561465127947],[0.0],1.000000,[0.0],[-0.0005017561465127947],0
4,"(20, 25]",0,0,0,[0.0],[0.0],NaN,0,[0.0],0
5,"(25, 30]",0,0,0,[0.0],[0.0],NaN,0,[0.0],0
6,"(30, 35]",0,0,0,[0.0],[0.0],NaN,0,[0.0],0

[0.02290818]

In [28]:
print("Max # times 60-89 days past due: ", train['NumberOfTime60-89DaysPastDueNotWorse'].max())
print("Min # times 60-89 days past due: ", train['NumberOfTime60-89DaysPastDueNotWorse'].min())

train['60to89_days_due_bin'] = pd.cut(train['NumberOfTime60-89DaysPastDueNotWorse'], bins = [0,5,10,15])

bins_60to89_days_due = [0,5,10,15]
binning = []
bin_str = ""
for i in range(0,len(bins_60to89_days_due)-1):
    bin_str = "("+str(bins_60to89_days_due[i])+", "+str(bins_60to89_days_due[i+1])+"]"
    binning.append(bin_str)
    
print(binning)
print(len(binning))
train.head()

Max # times 60-89 days past due:  11
Min # times 60-89 days past due:  0
['(0, 5]', '(5, 10]', '(10, 15]']
3

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,...,NumberOfDependents,age_bin,income_bin,debt_bin,unsecured_bin,30to59_days_due_bin,num_open_credit,num_90days_late,num_real_estate_loans,60to89_days_due_bin
0,1,1,0.766127,45,2,0.802982,9120.0,13,0,6,...,2.0,"(40, 50]","(0, 100000]","(0, 20000]","(0, 10000]","(0.0, 2.0]","(10, 20]",NaN,NaN,NaN
1,2,0,0.957151,40,0,0.121876,2600.0,4,0,0,...,1.0,"(30, 40]","(0, 100000]","(0, 20000]","(0, 10000]",NaN,"(0, 10]",NaN,NaN,NaN
2,3,0,0.658180,38,1,0.085113,3042.0,2,1,0,...,0.0,"(30, 40]","(0, 100000]","(0, 20000]","(0, 10000]","(0.0, 2.0]","(0, 10]","(0.0, 5.0]","(0.0, 5.0]",NaN
3,4,0,0.233810,30,0,0.036050,3300.0,5,0,0,...,0.0,"(20, 30]","(0, 100000]","(0, 20000]","(0, 10000]",NaN,"(0, 10]",NaN,NaN,NaN
4,5,0,0.907239,49,1,0.024926,63588.0,7,0,1,...,0.0,"(40, 50]","(0, 100000]","(0, 20000]","(0, 10000]","(0.0, 2.0]","(0, 10]",NaN,NaN,NaN

In [29]:
bins_60to89_days_due_iv= getIVandWOE('60to89_days_due_bin',binning)
print(bins_60to89_days_due_iv)

IV:  [0.00358928]

,60to89_days_due_bin,good,bad,total_count,dist_bad,dist_good,bad_rate,quotient,difference,WoE
0,"(0, 5]",3531,1326,4857,[0.994748687171793],[0.9985859728506787],0.273008,[1.0038575428431031],[0.003837285678885749],[0.3850121603753211]
1,"(5, 10]",5,6,11,[0.00450112528132033],[0.001414027149321267],0.545455,[0.3141496983408748],[-0.0030870981319990626],[-115.788566037278]
2,"(10, 15]",0,1,1,[0.0007501875468867217],[0.0],1.000000,[0.0],[-0.0007501875468867217],0

[0.00358928]

In [30]:
print("Max # dependents: ", train['NumberOfDependents'].max())
print("Min # dependents: ", train['NumberOfDependents'].min())

train['deps_bin'] = pd.cut(train['NumberOfDependents'], bins = [0,5,10,15])

bins_deps = [0,5,10,15]
binning = []
bin_str = ""
for i in range(0,len(bins_deps)-1):
    bin_str = "("+str(bins_deps[i])+", "+str(bins_deps[i+1])+"]"
    binning.append(bin_str)
    
print(binning)
print(len(binning))
train.head()

Max # dependents:  20.0
Min # dependents:  0.0
['(0, 5]', '(5, 10]', '(10, 15]']
3

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,...,age_bin,income_bin,debt_bin,unsecured_bin,30to59_days_due_bin,num_open_credit,num_90days_late,num_real_estate_loans,60to89_days_due_bin,deps_bin
0,1,1,0.766127,45,2,0.802982,9120.0,13,0,6,...,"(40, 50]","(0, 100000]","(0, 20000]","(0, 10000]","(0.0, 2.0]","(10, 20]",NaN,NaN,NaN,"(0.0, 5.0]"
1,2,0,0.957151,40,0,0.121876,2600.0,4,0,0,...,"(30, 40]","(0, 100000]","(0, 20000]","(0, 10000]",NaN,"(0, 10]",NaN,NaN,NaN,"(0.0, 5.0]"
2,3,0,0.658180,38,1,0.085113,3042.0,2,1,0,...,"(30, 40]","(0, 100000]","(0, 20000]","(0, 10000]","(0.0, 2.0]","(0, 10]","(0.0, 5.0]","(0.0, 5.0]",NaN,NaN
3,4,0,0.233810,30,0,0.036050,3300.0,5,0,0,...,"(20, 30]","(0, 100000]","(0, 20000]","(0, 10000]",NaN,"(0, 10]",NaN,NaN,NaN,NaN
4,5,0,0.907239,49,1,0.024926,63588.0,7,0,1,...,"(40, 50]","(0, 100000]","(0, 20000]","(0, 10000]","(0.0, 2.0]","(0, 10]",NaN,NaN,NaN,NaN